html, body, input, textarea, .btn {
    font-size: 90% !important;
}

label {
    margin-bottom: 0.2rem;
}
.form-group-sm {
    margin-top: 10px;
}
label::first-letter, th::first-letter , h1::first-letter,  h2::first-letter,  h3::first-letter,  h4::first-letter,  h5::first-letter,  h6::first-letter {
	text-transform:uppercase;
}
.icon {
    vertical-align: top;
	padding-top: 3px;
}

.btn-outline-secondary {
    border-color: #ced4da;
}

.table td, .table th {
    padding: 0.25rem;
}

form-group-sm label {
	font-size: 100% !important;
}


.input-group input {
	font-size: 95%;
}















#calendar-table {
	display: block;
	position: absolute;
	background: #fff;

	z-index: 9999;
	border-collapse: collapse;
}

#calendar-table tr {
	border-collapse: collapse;
}

 .calendar-week , .calendar-c-day, .calendar-x-day, .calendar-title {
	border: solid 1px #ddd;
	padding: 1px 10px;
	text-align: center;
	cursor: pointer;
}
#calendar-table .calendar-today {
	background: #4c8ac7;
	color: #fff;
	font-weight: bold;
	border: solid 1px #4c8ac7;
}
.calendar-c-day:hover {
	background:#f6f6f6;
}
.calendar-x-day:hover {
	background:#eeeeee;
}


#calendar-table .calendar-week {
	font-weight: bold;
	background: #ddd;
	color:#fff;
	border-bottom: solid 1px #fff;
	padding:1px 5px;
}

#calendar-table .calendar-title {
	border-bottom: solid 2px #ddd;
}
#calendar-table .calendar-c-day {

}
#calendar-table .calendar-x-day {
	color: #d0d0d0;
}
#calendar-table .calendar-week:hover {
	background: #bbb;
}

#calendar-table .calendar-hd {
	padding-top: 4px;
	padding-bottom: 4px;
	border: solid 1px #ddd;
	/* border-bottom: solid 2px #ddd; */
	background: #fff;
	text-align:center;
}


.unselectable {
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
	user-select: none;
}







.modal-dialog{
    width: auto;
    min-width: 300px;
}

@media only screen and (min-device-width: 1500px) {
    .modal-lg {
        max-width: calc(100% - 250px);
    }
}

.modal-body {
    max-height: 99%;
	padding: 1rem 0;
    display: block;
}
.modal-header {
    padding-bottom: 5px;
    border-bottom: 1px solid #bdbdbd;
}
.modal-footer nav dl,
.modal-footer nav ol,
.modal-footer nav ul {
	margin-bottom: 0;
}
.modal-footer {
	display: block;
    padding: 0.6rem 0.5rem;
    border-top: 1px solid #bdbdbd;
	justify-content: initial !important;/* flex-end */
}
.modal-body input[type="text"] {
    padding: 0.1rem 0.2rem;
}








.iframe-container {
	position: relative;
	overflow: hidden;
}

.iframe-container iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}







.search {
	display: none;
}

.search-menu  {
	padding-top:0;
	padding-bottom:0;
}
.search-menu .dropdown-item {
	padding-left:12px;
	border-bottom: solid 1px #ddd;
	font-size: 85%;
	cursor:pointer;
}